$background-color: #9fffff;
$font-size: 16px;
$font-color: rgb(250, 250, 250);
$font-color-second: rgb(36, 36, 36);

@font-face {
  font-family: Helvetica Black;
  src: url(./assets/fonts/HelveticaNeueBlack.otf);
}

@font-face {
  font-family: Helvetica Bold;
  src: url(./assets/fonts/HelveticaNeueBold.otf);
}

:root {
  font-size: $font-size;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: $background-color;
  background: url("./assets/clouds.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100dvh;
  font-size: $font-size;
  font-family: "Helvetica Neue", sans-serif;
  color: $font-color;
}

#app {
  width: 60rem;
  height: 50rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 2rem;
}

@media only screen and (max-width: 1000px) {
  #app {
    width: 36rem;
  }
}

@media only screen and (max-width: 600px) {
  #app {
    height: 100dvh;
    width: 100dvw;
    border-radius: 0;
  }
  body {
    overflow-y: auto;
  }
}

//Transitions

.slide-fade-enter-active {
  animation: slide-in 0.8s ease;
}
.slide-fade-leave-active {
  animation: slide-out 1s ease;
}

@keyframes slide-in {
  0% {
    transform: translateY(50rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(2rem);
    opacity: 1;
  }
  100% {
    transform: translateY(-50rem);
    opacity: 0;
  }
}

//Scrollbar

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
