$background-color: #466c77;
$font-size: 16px;
$font-color: rgb(250, 250, 250);
$font-color-second: rgb(51, 51, 51);

@font-face {
  font-family: Helvetica Black;
  src: url(./assets/fonts/HelveticaNeueBlack.otf);
}
@font-face {
  font-family: Helvetica Bold;
  src: url(./assets/fonts/HelveticaNeueBold.otf);
}

:root {
  font-size: $font-size;
  font-family: "Helvetica Neue", sans-serif;
}

html {
  margin: 0;
  background-color: $background-color;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: $font-size;
  font-family: "Helvetica Neue", sans-serif;
  color: $font-color;
  overflow-x: hidden;
}

.scroll-disable {
  height: 100%;
  overflow: hidden;
}

#app-background {
  background: url("./assets/clouds.jpeg");
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  transition: all 1s ease;
  user-select: none;
}

.app-background-night {
  background-image: url("./assets/clouds-night.jpeg") !important;
}

#app-inner {
  width: 60rem;
  min-height: 30rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 2rem;
}

input,
button {
  appearance: none;
  -webkit-appearance: none !important;
}

//Transitions

.slide-fade-enter-active {
  animation: slide-in 0.8s ease;
}
.slide-fade-leave-active {
  animation: slide-out 1s ease;
}

.slide-fade-fast-enter-active {
  animation: slide-in 0.5s ease;
}
.slide-fade-fast-leave-active {
  animation: slide-out-fast 0.8s ease;
}

@keyframes slide-in {
  0% {
    transform: translateY(50rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(1rem);
    opacity: 1;
  }
  100% {
    transform: translateY(-50rem);
    opacity: 0;
  }
}

@keyframes slide-out-fast {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100rem);
    opacity: 0;
  }
}

.slide-horizontal-fade-enter-active {
  animation: horizontal-slide-in 0.8s ease;
}
.slide-horizontal-fade-leave-active {
  animation: horizontal-slide-out 1s ease;
}

@keyframes horizontal-slide-in {
  0% {
    transform: translateX(50rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes horizontal-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(1rem);
    opacity: 1;
  }
  100% {
    transform: translateX(-50rem);
    opacity: 0;
  }
}

//Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(
    30deg,
    rgba(0, 60, 95, 0.5) 0%,
    rgba(62, 99, 95, 0.5) 100%
  );
}

::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

//@media
@media only screen and (max-width: 1000px) {
  #app-inner {
    width: 36rem;
  }
}

@media only screen and (max-width: 600px) {
  #app-inner {
    /* height: 30rem; */
    width: 100dvw;
    border-radius: 0;
    margin: 0;
  }
  body,
  #app {
    overflow-y: auto;
  }
  #app-background {
    background-size: 120rem 100%;
  }
}
